In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
weather = pd.read_csv('./data/weatherAUS5000.csv')
weather.sample(10)

,Unnamed: 0,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainTomorrow
2355,2355,2014-01-21,MountGambier,10.3,23.4,0.0,6.2,9.8,S,44.0,...,30.0,63.0,49.0,1016.2,1016.4,5.0,7.0,17.5,21.4,No
2468,2468,2015-02-19,MountGinini,8.9,18.8,0.0,NaN,NaN,NE,41.0,...,4.0,98.0,69.0,NaN,NaN,NaN,NaN,10.6,18.5,No
3790,3790,2008-08-08,Sydney,8.2,18.6,4.6,1.4,5.7,NaN,NaN,...,19.0,58.0,38.0,1016.4,1016.9,7.0,5.0,11.7,18.4,No
2144,2144,2015-04-24,Mildura,11.1,21.4,0.0,1.8,6.9,WSW,43.0,...,22.0,84.0,44.0,1009.4,1006.2,4.0,5.0,14.1,20.8,Yes
101,101,2009-08-02,Adelaide,7.7,17.6,NaN,NaN,9.2,NNW,43.0,...,19.0,64.0,46.0,1026.7,1022.8,NaN,NaN,10.9,17.3,No
3947,3947,2015-10-10,SydneyAirport,16.1,26.2,0.0,6.8,9.5,ENE,28.0,...,17.0,76.0,46.0,1028.9,1025.6,1.0,4.0,19.2,24.0,No
838,838,2010-01-02,Brisbane,23.9,30.8,0.8,6.4,11.3,NE,30.0,...,13.0,62.0,66.0,1012.5,1009.0,2.0,3.0,28.7,29.2,No
2463,2463,2009-12-25,MountGinini,11.2,13.3,25.4,NaN,NaN,SSW,41.0,...,20.0,99.0,99.0,NaN,NaN,NaN,NaN,12.2,12.3,Yes
4308,4308,2009-03-10,WaggaWagga,19.6,32.0,0.0,8.8,9.7,N,43.0,...,15.0,54.0,24.0,1019.1,1016.3,6.0,5.0,22.1,29.7,No
288,288,2014-07-31,Albury,8.9,19.7,0.4,NaN,NaN,NNW,56.0,...,30.0,63.0,37.0,1012.1,1003.7,NaN,NaN,11.8,19.4,No

In [3]:
X,y = weather.iloc[:,:-1] ,weather.RainTomorrow

In [4]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 22 columns):
Unnamed: 0       5000 non-null int64
Date             5000 non-null object
Location         5000 non-null object
MinTemp          4979 non-null float64
MaxTemp          4987 non-null float64
Rainfall         4950 non-null float64
Evaporation      2841 non-null float64
Sunshine         2571 non-null float64
WindGustDir      4669 non-null object
WindGustSpeed    4669 non-null float64
WindDir9am       4651 non-null object
WindDir3pm       4887 non-null object
WindSpeed9am     4949 non-null float64
WindSpeed3pm     4919 non-null float64
Humidity9am      4936 non-null float64
Humidity3pm      4880 non-null float64
Pressure9am      4506 non-null float64
Pressure3pm      4504 non-null float64
Cloud9am         3111 non-null float64
Cloud3pm         3012 non-null float64
Temp9am          4967 non-null float64
Temp3pm          4912 non-null float64
dtypes: float64(16), int64(1), object(5)
memory usage: 859.5+ KB

In [5]:
X.isnull().mean()

Unnamed: 0       0.0000
Date             0.0000
Location         0.0000
MinTemp          0.0042
MaxTemp          0.0026
Rainfall         0.0100
Evaporation      0.4318
Sunshine         0.4858
WindGustDir      0.0662
WindGustSpeed    0.0662
WindDir9am       0.0698
WindDir3pm       0.0226
WindSpeed9am     0.0102
WindSpeed3pm     0.0162
Humidity9am      0.0128
Humidity3pm      0.0240
Pressure9am      0.0988
Pressure3pm      0.0992
Cloud9am         0.3778
Cloud3pm         0.3976
Temp9am          0.0066
Temp3pm          0.0176
dtype: float64

In [6]:
X.head()

,Unnamed: 0,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,0,2015-03-24,Adelaide,12.3,19.3,0.0,5.0,NaN,S,39.0,...,13.0,19.0,59.0,47.0,1022.2,1021.4,NaN,NaN,15.1,17.7
1,1,2011-07-12,Adelaide,7.9,11.4,0.0,1.0,0.5,N,20.0,...,7.0,7.0,70.0,59.0,1028.7,1025.7,NaN,NaN,8.4,11.3
2,2,2010-02-08,Adelaide,24.0,38.1,0.0,23.4,13.0,SE,39.0,...,9.0,19.0,36.0,24.0,1018.0,1016.0,NaN,NaN,32.4,37.4
3,3,2016-09-19,Adelaide,6.7,16.4,0.4,NaN,NaN,N,31.0,...,15.0,15.0,65.0,40.0,1014.4,1010.0,NaN,NaN,11.2,15.9
4,4,2014-03-05,Adelaide,16.7,24.8,0.0,6.6,11.7,S,37.0,...,15.0,24.0,61.0,48.0,1019.3,1018.9,NaN,NaN,20.8,23.7

In [7]:
y.head()

0    No
1    No
2    No
3    No
4    No
Name: RainTomorrow, dtype: object

**在现实中，我们会先分训练集和测试集，再开始进行数据预处理。这是由于，测试集在现实中往往是不可获得的，或者被假设为是不可获得的，我们不希望我们建模的任何过程受到测试集数据的影响，否则的话，就相当于提前告诉了模型一部分预测的答案。** 在之前的课中，为了简便操作，都给大家忽略了这个过程，一律先进行预处理，再分训练集和测试集，这是一种不规范的做法。在这里，为了让案例尽量接近真实的样貌，所以采取了现实中所使用的这种方式：先分训练集和测试集，再一步步进行预处理。这样导致的结果是，我们对训练集执行的所有操作，都必须对测试集执行一次，工作量是翻倍的

In [8]:
X.head()

,Unnamed: 0,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,0,2015-03-24,Adelaide,12.3,19.3,0.0,5.0,NaN,S,39.0,...,13.0,19.0,59.0,47.0,1022.2,1021.4,NaN,NaN,15.1,17.7
1,1,2011-07-12,Adelaide,7.9,11.4,0.0,1.0,0.5,N,20.0,...,7.0,7.0,70.0,59.0,1028.7,1025.7,NaN,NaN,8.4,11.3
2,2,2010-02-08,Adelaide,24.0,38.1,0.0,23.4,13.0,SE,39.0,...,9.0,19.0,36.0,24.0,1018.0,1016.0,NaN,NaN,32.4,37.4
3,3,2016-09-19,Adelaide,6.7,16.4,0.4,NaN,NaN,N,31.0,...,15.0,15.0,65.0,40.0,1014.4,1010.0,NaN,NaN,11.2,15.9
4,4,2014-03-05,Adelaide,16.7,24.8,0.0,6.6,11.7,S,37.0,...,15.0,24.0,61.0,48.0,1019.3,1018.9,NaN,NaN,20.8,23.7

In [9]:
#X.drop(columns=X.columns[0],inplace=True)
#X.head()

In [10]:
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [11]:
X_train.head()

,Unnamed: 0,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
3026,3026,2013-03-24,PearceRAAF,8.9,30.7,0.0,NaN,9.9,SW,37.0,...,9.0,26.0,64.0,30.0,1018.0,1012.2,NaN,NaN,18.6,29.7
2804,2804,2010-09-02,NorfolkIsland,13.4,18.9,0.0,4.8,5.5,W,41.0,...,20.0,26.0,48.0,53.0,1023.7,1020.1,7.0,7.0,16.7,17.6
969,969,2013-09-20,Cairns,17.2,28.3,0.0,4.0,10.7,NNE,26.0,...,17.0,15.0,56.0,66.0,1014.2,1010.3,0.0,1.0,25.5,27.4
4648,4648,2017-02-06,Williamtown,22.5,37.6,0.0,NaN,NaN,S,48.0,...,15.0,22.0,48.0,51.0,1010.7,1008.5,NaN,NaN,32.1,32.5
240,240,2016-12-26,Albury,17.6,36.5,0.0,NaN,NaN,SW,48.0,...,11.0,19.0,45.0,26.0,1012.0,1008.3,NaN,1.0,28.0,34.0

In [12]:
X = [X_train,X_test]
y = [y_train,y_test]

In [13]:
for i in range(2):
    X[i].reset_index(inplace=True,drop=True)
    # y[i].reset_index(inplace=True)

In [14]:
X[0].head()

,Unnamed: 0,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,3026,2013-03-24,PearceRAAF,8.9,30.7,0.0,NaN,9.9,SW,37.0,...,9.0,26.0,64.0,30.0,1018.0,1012.2,NaN,NaN,18.6,29.7
1,2804,2010-09-02,NorfolkIsland,13.4,18.9,0.0,4.8,5.5,W,41.0,...,20.0,26.0,48.0,53.0,1023.7,1020.1,7.0,7.0,16.7,17.6
2,969,2013-09-20,Cairns,17.2,28.3,0.0,4.0,10.7,NNE,26.0,...,17.0,15.0,56.0,66.0,1014.2,1010.3,0.0,1.0,25.5,27.4
3,4648,2017-02-06,Williamtown,22.5,37.6,0.0,NaN,NaN,S,48.0,...,15.0,22.0,48.0,51.0,1010.7,1008.5,NaN,NaN,32.1,32.5
4,240,2016-12-26,Albury,17.6,36.5,0.0,NaN,NaN,SW,48.0,...,11.0,19.0,45.0,26.0,1012.0,1008.3,NaN,1.0,28.0,34.0

In [15]:
X_train.head()

,Unnamed: 0,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,3026,2013-03-24,PearceRAAF,8.9,30.7,0.0,NaN,9.9,SW,37.0,...,9.0,26.0,64.0,30.0,1018.0,1012.2,NaN,NaN,18.6,29.7
1,2804,2010-09-02,NorfolkIsland,13.4,18.9,0.0,4.8,5.5,W,41.0,...,20.0,26.0,48.0,53.0,1023.7,1020.1,7.0,7.0,16.7,17.6
2,969,2013-09-20,Cairns,17.2,28.3,0.0,4.0,10.7,NNE,26.0,...,17.0,15.0,56.0,66.0,1014.2,1010.3,0.0,1.0,25.5,27.4
3,4648,2017-02-06,Williamtown,22.5,37.6,0.0,NaN,NaN,S,48.0,...,15.0,22.0,48.0,51.0,1010.7,1008.5,NaN,NaN,32.1,32.5
4,240,2016-12-26,Albury,17.6,36.5,0.0,NaN,NaN,SW,48.0,...,11.0,19.0,45.0,26.0,1012.0,1008.3,NaN,1.0,28.0,34.0

In [16]:
y_train.value_counts()

No     2874
Yes     876
Name: RainTomorrow, dtype: int64

In [17]:
y_test.value_counts()

No     987
Yes    263
Name: RainTomorrow, dtype: int64

In [18]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder().fit(y_train)
y_train = encoder.transform(y_train)
y_test = encoder.transform(y_test)
np.unique(y_train,return_counts=True)

(array([0, 1]), array([2874,  876]))

In [19]:
X_train.describe([0.01,0.05,0.1,0.25,0.5,0.75,0.9,0.99]).T

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,99%,max
Unnamed: 0,3750.0,2510.880533,1441.963964,0.0,50.490,250.450,504.9,1254.250,2519.5,3753.75,4514.10,4945.510,4998.0
MinTemp,3734.0,12.152999,6.436950,-8.5,-1.900,1.600,3.9,7.600,12.1,16.70,20.80,25.867,29.0
MaxTemp,3741.0,23.160599,7.157922,-3.7,8.540,12.800,14.6,17.900,22.6,28.30,32.90,39.800,45.1
Rainfall,3714.0,2.357943,8.025789,0.0,0.000,0.000,0.0,0.000,0.0,0.60,5.80,41.522,115.8
Evaporation,2153.0,5.686345,4.309470,0.0,0.400,1.000,1.4,2.600,4.8,7.60,10.40,20.888,42.2
Sunshine,1945.0,7.548740,3.824617,0.0,0.000,0.300,1.5,4.600,8.4,10.60,12.10,13.356,13.9
WindGustSpeed,3493.0,39.932436,13.443744,9.0,15.000,20.000,24.0,31.000,39.0,48.00,57.00,76.000,122.0
WindSpeed9am,3709.0,13.984902,8.808173,0.0,0.000,0.000,4.0,7.000,13.0,19.00,26.00,39.000,72.0
WindSpeed3pm,3690.0,18.645528,8.749710,0.0,2.000,6.000,7.0,13.000,19.0,24.00,30.00,43.110,65.0
Humidity9am,3704.0,68.978672,18.918228,2.0,18.000,35.000,44.0,57.000,70.0,83.00,94.00,100.000,100.0
Humidity3pm,3659.0,51.630500,20.746105,2.0,8.580,17.000,23.0,37.000,52.0,66.00,79.00,98.000,100.0
Pressure9am,3373.0,1017.664779,6.999744,985.1,1000.372,1006.300,1008.9,1012.900,1017.6,1022.30,1026.90,1033.400,1038.2
Pressure3pm,3372.0,1015.278262,6.983367,980.2,998.671,1004.055,1006.6,1010.500,1015.2,1020.00,1024.39,1031.029,1036.9
Cloud9am,2354.0,4.504248,2.857760,0.0,0.000,0.000,1.0,1.000,5.0,7.00,8.00,8.000,8.0
Cloud3pm,2281.0,4.562034,2.668487,0.0,0.000,0.000,1.0,2.000,5.0,7.00,8.00,8.000,8.0
Temp9am,3727.0,16.936893,6.505393,-5.3,2.226,6.900,9.0,12.200,16.6,21.55,25.90,30.900,38.0
Temp3pm,3684.0,21.662296,6.987661,-4.1,7.515,11.500,13.3,16.575,21.0,26.60,31.30,38.217,42.5

对于去kaggle上下载了数据的小伙伴们，以及坚持要使用完整版数据的（15W行）小伙伴们
如果你发现了异常值，首先你要观察，这个异常值出现的频率
如果异常值只出现了一次，多半是输入错误，直接把异常值删除
如果异常值出现了多次，去跟业务人员沟通，可能这是某种特殊表示，如果是人为造成的错误，异常值留着是没有用
的，只要数据量不是太大，都可以删除
如果异常值占到你总数据量的10%以上了，不能轻易删除。可以考虑把异常值替换成非异常但是非干扰的项，比如说用0
来进行替换，或者把异常当缺失值，用均值或者众数来进行替换

In [20]:
X_train.loc[X_train.Cloud9am == 9,"Cloud9am"]

Series([], Name: Cloud9am, dtype: float64)

In [21]:
X_test.loc[X_test.Cloud9am == 9,"Cloud9am"]

Series([], Name: Cloud9am, dtype: float64)

In [22]:
def drop_column(columns):
    for X_sub in X:
        X_sub.drop(columns= columns,inplace=True)

In [23]:
#drop_column([X_train.columns[0],X_train.columns[1]])
#首先，日期不是独一无二的，日期有重复
#其次，在我们分训练集和测试集之后，日期也不是连续的，而是分散的
#某一年的某一天倾向于会下雨？或者倾向于不会下雨吗？
#不是日期影响了下雨与否，反而更多的是这一天的日照时间，湿度，温度等等这些因素影响了是否会下雨
#光看日期，其实感觉它对我们的判断并无直接影响
#如果我们把它当作连续型变量处理，那算法会人为它是一系列1~3000左右的数字，不会意识到这是日期

In [24]:
y_train

array([0, 0, 0, ..., 0, 1, 1])

In [25]:
X_train['RainToday'] = 0
X_train.RainToday.value_counts()

0    3750
Name: RainToday, dtype: int64

In [26]:
X_train.loc[X_train.Rainfall > 1 , 'RainToday'] = 1
X_train.loc[X_train.Rainfall <= 1 , 'RainToday'] = 0
X_train.loc[X_train.Rainfall == np.nan,'RainToday'] = np.nan

In [27]:
X_train.head()

,Unnamed: 0,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,3026,2013-03-24,PearceRAAF,8.9,30.7,0.0,NaN,9.9,SW,37.0,...,26.0,64.0,30.0,1018.0,1012.2,NaN,NaN,18.6,29.7,0.0
1,2804,2010-09-02,NorfolkIsland,13.4,18.9,0.0,4.8,5.5,W,41.0,...,26.0,48.0,53.0,1023.7,1020.1,7.0,7.0,16.7,17.6,0.0
2,969,2013-09-20,Cairns,17.2,28.3,0.0,4.0,10.7,NNE,26.0,...,15.0,56.0,66.0,1014.2,1010.3,0.0,1.0,25.5,27.4,0.0
3,4648,2017-02-06,Williamtown,22.5,37.6,0.0,NaN,NaN,S,48.0,...,22.0,48.0,51.0,1010.7,1008.5,NaN,NaN,32.1,32.5,0.0
4,240,2016-12-26,Albury,17.6,36.5,0.0,NaN,NaN,SW,48.0,...,19.0,45.0,26.0,1012.0,1008.3,NaN,1.0,28.0,34.0,0.0

In [28]:
X_test.loc[X_train.Rainfall > 1 , 'RainToday'] = 1
X_test.loc[X_train.Rainfall <= 1 , 'RainToday'] = 0
X_test.loc[X_train.Rainfall == np.nan,'RainToday'] = np.nan

In [29]:
# 上面那个是不合理的.
np.unique(y_train[X_train.Rainfall==0],return_counts=True)

(array([0, 1]), array([2070,  321]))

In [30]:
drop_column(X_train.columns[0])
X_train.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,2013-03-24,PearceRAAF,8.9,30.7,0.0,NaN,9.9,SW,37.0,S,...,26.0,64.0,30.0,1018.0,1012.2,NaN,NaN,18.6,29.7,0.0
1,2010-09-02,NorfolkIsland,13.4,18.9,0.0,4.8,5.5,W,41.0,W,...,26.0,48.0,53.0,1023.7,1020.1,7.0,7.0,16.7,17.6,0.0
2,2013-09-20,Cairns,17.2,28.3,0.0,4.0,10.7,NNE,26.0,SE,...,15.0,56.0,66.0,1014.2,1010.3,0.0,1.0,25.5,27.4,0.0
3,2017-02-06,Williamtown,22.5,37.6,0.0,NaN,NaN,S,48.0,WNW,...,22.0,48.0,51.0,1010.7,1008.5,NaN,NaN,32.1,32.5,0.0
4,2016-12-26,Albury,17.6,36.5,0.0,NaN,NaN,SW,48.0,NNE,...,19.0,45.0,26.0,1012.0,1008.3,NaN,1.0,28.0,34.0,0.0